{% extends "base.html" %}

{% block content %}
<div class="joke-container">
    <h1>Добро пожаловать!</h1>
    <p>Мы рады видеть вас на нашем сайте шуток! 🎉</p>

    <h2>Случайная шутка</h2>
    <div class="joke" id="jokeDisplay">
        шутка
    </div>
    <div>
        <button class="button">Нравится</button>
        <button class="button">Не нравится</button>
        <button class="button">Следующая</button>
    </div>
</div>

<div class="profile-button">
    <a href="{{ url_for('profile') }}">
        <button class="button">Профиль</button>
    </a>
</div>
{% endblock %}
